nav {
  background-color: rgb(241, 7, 245); /*rgba(196, 196, 196, 1);*/
  padding: 20px;
}
nav a {
  padding: 10px;
  text-decoration: none;
}
#content {
  font-size: 40px;
  text-align: center;
}
#content span {
  margin-top: 20px;
}
